<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>待机 复制 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{385,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{1540,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{1925,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{2310,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{2695,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{3080,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{3465,0},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{385,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{770,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{1155,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{1540,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{1925,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{2310,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{2695,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{3080,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{3465,542},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10021</key>
			<dict>
				<key>frame</key>
				<string>{{385,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10022</key>
			<dict>
				<key>frame</key>
				<string>{{770,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10023</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10024</key>
			<dict>
				<key>frame</key>
				<string>{{1540,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10025</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10026</key>
			<dict>
				<key>frame</key>
				<string>{{2310,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10027</key>
			<dict>
				<key>frame</key>
				<string>{{2695,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10028</key>
			<dict>
				<key>frame</key>
				<string>{{3080,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10029</key>
			<dict>
				<key>frame</key>
				<string>{{3465,1084},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10030</key>
			<dict>
				<key>frame</key>
				<string>{{0,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10031</key>
			<dict>
				<key>frame</key>
				<string>{{385,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10032</key>
			<dict>
				<key>frame</key>
				<string>{{770,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10033</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10034</key>
			<dict>
				<key>frame</key>
				<string>{{1540,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10035</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10036</key>
			<dict>
				<key>frame</key>
				<string>{{2310,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10037</key>
			<dict>
				<key>frame</key>
				<string>{{2695,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10038</key>
			<dict>
				<key>frame</key>
				<string>{{3080,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10039</key>
			<dict>
				<key>frame</key>
				<string>{{3465,1626},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10040</key>
			<dict>
				<key>frame</key>
				<string>{{0,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10041</key>
			<dict>
				<key>frame</key>
				<string>{{385,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10042</key>
			<dict>
				<key>frame</key>
				<string>{{770,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10043</key>
			<dict>
				<key>frame</key>
				<string>{{1155,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10044</key>
			<dict>
				<key>frame</key>
				<string>{{1540,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10045</key>
			<dict>
				<key>frame</key>
				<string>{{1925,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10046</key>
			<dict>
				<key>frame</key>
				<string>{{2310,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10047</key>
			<dict>
				<key>frame</key>
				<string>{{2695,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10048</key>
			<dict>
				<key>frame</key>
				<string>{{3080,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
			<key>待机 复制 实例 10049</key>
			<dict>
				<key>frame</key>
				<string>{{3465,2168},{385,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,542}}</string>
				<key>sourceSize</key>
				<string>{385,542}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>H5.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>H5.png</string>
		</dict>
	</dict>
</plist>
