<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 22 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{473,0},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{946,0},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{1419,0},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,566},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{473,566},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{946,566},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{1419,566},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,1132},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{473,1132},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{946,1132},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1132},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,1698},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{473,1698},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{946,1698},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1698},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,2264},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{473,2264},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{946,2264},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{1419,2264},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{1419,2264},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10021</key>
			<dict>
				<key>frame</key>
				<string>{{0,2830},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10022</key>
			<dict>
				<key>frame</key>
				<string>{{473,2830},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10023</key>
			<dict>
				<key>frame</key>
				<string>{{946,2830},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10024</key>
			<dict>
				<key>frame</key>
				<string>{{1419,2830},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10025</key>
			<dict>
				<key>frame</key>
				<string>{{0,3396},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10026</key>
			<dict>
				<key>frame</key>
				<string>{{473,3396},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10027</key>
			<dict>
				<key>frame</key>
				<string>{{946,3396},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
			<key>元件 22 实例 10028</key>
			<dict>
				<key>frame</key>
				<string>{{1419,3396},{473,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,566}}</string>
				<key>sourceSize</key>
				<string>{473,566}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>zz.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>textureFileName</key>
			<string>zz.png</string>
		</dict>
	</dict>
</plist>
