<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 18 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{399,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{798,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{1197,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{1596,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{1995,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{2394,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{2793,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{3192,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{3591,0},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{399,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{798,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{1197,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{1596,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{1995,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{2394,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{2793,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{3192,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{3591,542},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10021</key>
			<dict>
				<key>frame</key>
				<string>{{399,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10022</key>
			<dict>
				<key>frame</key>
				<string>{{798,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10023</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10024</key>
			<dict>
				<key>frame</key>
				<string>{{1596,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10025</key>
			<dict>
				<key>frame</key>
				<string>{{1995,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10026</key>
			<dict>
				<key>frame</key>
				<string>{{2394,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10027</key>
			<dict>
				<key>frame</key>
				<string>{{2793,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10028</key>
			<dict>
				<key>frame</key>
				<string>{{3192,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10029</key>
			<dict>
				<key>frame</key>
				<string>{{3591,1084},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10030</key>
			<dict>
				<key>frame</key>
				<string>{{0,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10031</key>
			<dict>
				<key>frame</key>
				<string>{{399,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10032</key>
			<dict>
				<key>frame</key>
				<string>{{798,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10033</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10034</key>
			<dict>
				<key>frame</key>
				<string>{{1596,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10035</key>
			<dict>
				<key>frame</key>
				<string>{{1995,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10036</key>
			<dict>
				<key>frame</key>
				<string>{{2394,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10037</key>
			<dict>
				<key>frame</key>
				<string>{{2793,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10038</key>
			<dict>
				<key>frame</key>
				<string>{{3192,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10039</key>
			<dict>
				<key>frame</key>
				<string>{{3591,1626},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10040</key>
			<dict>
				<key>frame</key>
				<string>{{0,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10041</key>
			<dict>
				<key>frame</key>
				<string>{{399,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10042</key>
			<dict>
				<key>frame</key>
				<string>{{798,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10043</key>
			<dict>
				<key>frame</key>
				<string>{{1197,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10044</key>
			<dict>
				<key>frame</key>
				<string>{{1596,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10045</key>
			<dict>
				<key>frame</key>
				<string>{{1995,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10046</key>
			<dict>
				<key>frame</key>
				<string>{{2394,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10047</key>
			<dict>
				<key>frame</key>
				<string>{{2793,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
			<key>元件 18 实例 10048</key>
			<dict>
				<key>frame</key>
				<string>{{3192,2168},{399,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{399,542}}</string>
				<key>sourceSize</key>
				<string>{399,542}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>chiing1.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>chiing1.png</string>
		</dict>
	</dict>
</plist>
