<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 23 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{491,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{982,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{1473,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{1964,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{2455,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{2946,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{3437,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{491,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{982,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{1473,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{1964,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{2455,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{2946,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{3437,627},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{491,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{2946,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{982,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10021</key>
			<dict>
				<key>frame</key>
				<string>{{1964,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10022</key>
			<dict>
				<key>frame</key>
				<string>{{1964,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10023</key>
			<dict>
				<key>frame</key>
				<string>{{2455,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10025</key>
			<dict>
				<key>frame</key>
				<string>{{2946,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10026</key>
			<dict>
				<key>frame</key>
				<string>{{3437,1254},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10027</key>
			<dict>
				<key>frame</key>
				<string>{{0,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10028</key>
			<dict>
				<key>frame</key>
				<string>{{491,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10029</key>
			<dict>
				<key>frame</key>
				<string>{{982,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10030</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10031</key>
			<dict>
				<key>frame</key>
				<string>{{1964,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10032</key>
			<dict>
				<key>frame</key>
				<string>{{2455,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
			<key>元件 23 实例 10033</key>
			<dict>
				<key>frame</key>
				<string>{{2946,1881},{491,627}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,627}}</string>
				<key>sourceSize</key>
				<string>{491,627}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>zhengque.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>zhengque.png</string>
		</dict>
	</dict>
</plist>
