<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 29 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{439,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{0,688},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{439,688},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{439,688},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{0,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{439,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{0,2064},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{439,2064},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{439,2064},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{439,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{439,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,2752},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{0,2752},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{0,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{0,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{439,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10021</key>
			<dict>
				<key>frame</key>
				<string>{{439,1376},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10022</key>
			<dict>
				<key>frame</key>
				<string>{{439,2752},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10023</key>
			<dict>
				<key>frame</key>
				<string>{{439,2752},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
			<key>元件 29 实例 10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{439,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,688}}</string>
				<key>sourceSize</key>
				<string>{439,688}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>cuowo1.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>cuowo1.png</string>
		</dict>
	</dict>
</plist>
